main {
	margin-top: 4rem;
	max-width: 1360px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
}

.flex-header {
	font-size: 2rem!important;
	border-bottom: 2px solid black;
	width: 100%;
}

.flex-info-box {
	display: flex;
	gap: 2rem;
	flex-direction: row;
}

.flex-button {
	background-color: #f3f2eb;
	text-align: center;
	padding: 1em;
	white-space: nowrap;
}

.flex-button a {
	font-size: 1.5rem;
	text-decoration-line: none;
	color: black;
}


.flex-button:hover {
	background: rgb(243,242,235);
background: linear-gradient(90deg, rgba(243,242,235,1) 0%, rgba(255,255,255,1) 50%, rgba(243,242,235,1) 100%);
}

.rub {
	white-space: nowrap;
}

.card {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card .name {
	background-color: #f3f2eb;
	padding: 0.5rem;
}

.card img {
	width: 420px;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.card .content {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.card .content .all {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.card .content .all .about {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.card .content .all .about .price{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}


.card .content .all .compound {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

.card .content .all .compound div {
	font-size: 1rem;
}